/* src/App.css */
.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #25d366;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.whatsapp-btn:hover {
  background-color: #1ebe5d;
}

.tarjeta-oferta img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tarjeta-oferta {
  text-align: center;
  padding: 15px;
  background-color: #ffffffd2;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.tarjeta-oferta:hover {
  transform: scale(1.05);
}
