body {
  background: linear-gradient(180deg, #eafbea, #ffffff);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  transition: transform 0.3s;
}

.card img:hover {
  transform: scale(1.05);
}

.btn-success {
  background-color: #28a745 !important;
  border: none;
}

.btn-success:hover {
  background-color: #218838 !important;
}
